<a href="#" class="product-item_component link w-inline-block"><div class="product-image-contain"><img src="{{ 'platzhalter.svg' | asset_url }}" loading="lazy" alt="" class="product-image navy-pants">
</div><div class="product-text-contain"><div class="heading-style-h4">dark navy work pant</div><div class="product-cloth-price">Hemp/Cotton Canvas</div><div class="product-cloth-price">$185</div></div></a>
